sqlalchemy==2.0.39
pgvector==0.4.0
poetry==2.1.1
langserve==0.3.1
pydantic==2.10.6
pyjwt==2.10.1
passlib[bcrypt]
langchain==0.3.21
unstructured[all-docs]==0.17.2
psycopg2-binary==2.9.10
fastapi==0.115.11
langchain_community==0.3.20
openai==1.68.2
uvicorn==0.34.0
alembic==1.15.1
typer==0.15.2
sse-starlette==2.2.1
minio==7.2.15
tiktoken==0.9.0
boto3==1.37.16
langchain-openai==0.3.19
python-multipart==0.0.20